In [1]:
import pandas as pd
import numpy as np
import pybaseball
from pybaseball import batting_stats
from pybaseball import statcast #Going to need for xBA xSLG and xwOBA (All blank of FGs)
from pybaseball import statcast_batter
pybaseball.cache.enable()
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Ridge
from sklearn.feature_selection import SeqenitalFeatureSelector
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import TimeSeriesSplit

In [2]:
#batting = batting_stats(2017, 2023, qual = 150)
#batting.to_csv("batting.csv")
#statcast_data = statcast(start_dt='2015-01-01', end_dt='2024-01-01')
#statcast_data.to_csv("statcast_data.csv")
batting = pd.read_csv("batting.csv")

In [3]:
#makes it only players with multiple seasons
batting = batting.groupby("IDfg", group_keys=False).filter(lambda x: x.shape[0] > 1)
batting.head()

,Unnamed: 0,IDfg,Season,Name,Team,Age,G,AB,PA,H,...,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,xBA,xSLG,xwOBA,L-WAR
0,2,15640,2022,Aaron Judge,NYY,30,157,570,696,177,...,118.4,246,0.609,404,0.169,0.287,NaN,NaN,NaN,11.6
1,4,13611,2018,Mookie Betts,BOS,25,136,520,614,180,...,110.6,217,0.500,434,0.220,0.270,NaN,NaN,NaN,10.4
2,6,10155,2018,Mike Trout,LAA,26,140,471,608,147,...,118.0,162,0.460,352,0.201,0.261,NaN,NaN,NaN,9.5
3,18,18401,2023,Ronald Acuna Jr.,ATL,25,159,643,735,217,...,121.2,309,0.550,562,0.137,0.214,NaN,NaN,NaN,8.4
4,15,15640,2017,Aaron Judge,NYY,25,155,542,678,154,...,121.1,186,0.550,338,0.157,0.290,NaN,NaN,NaN,8.7

In [4]:
null_variables = batting.isnull().sum() #find nulls (cant have for ML)
null_variables

Unnamed: 0       0
IDfg             0
Season           0
Name             0
Team             0
              ...
CSW%             0
xBA           2388
xSLG          2388
xwOBA         2388
L-WAR            0
Length: 321, dtype: int64

In [5]:
full_variables = list(batting.columns[null_variables == 0]) #gets list of all non nulls
batting = batting[full_variables].copy() #updates to only non nulls
batting.head()

,Unnamed: 0,IDfg,Season,Name,Team,Age,G,AB,PA,H,...,LA,Barrels,Barrel%,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,L-WAR
0,2,15640,2022,Aaron Judge,NYY,30,157,570,696,177,...,14.9,106,0.262,118.4,246,0.609,404,0.169,0.287,11.6
1,4,13611,2018,Mookie Betts,BOS,25,136,520,614,180,...,18.5,57,0.131,110.6,217,0.500,434,0.220,0.270,10.4
2,6,10155,2018,Mike Trout,LAA,26,140,471,608,147,...,18.6,54,0.153,118.0,162,0.460,352,0.201,0.261,9.5
3,18,18401,2023,Ronald Acuna Jr.,ATL,25,159,643,735,217,...,7.4,86,0.153,121.2,309,0.550,562,0.137,0.214,8.4
4,15,15640,2017,Aaron Judge,NYY,25,155,542,678,154,...,15.8,84,0.249,121.1,186,0.550,338,0.157,0.290,8.7

In [6]:
batting.dtypes[batting.dtypes == "object"] #check for object type (cant have for ML)

Name       object
Team       object
Dol        object
Age Rng    object
dtype: object

In [7]:
#removes all object other than name
batting = batting.drop('Dol', axis=1)
batting = batting.drop('Team', axis=1)
batting = batting.drop('Age Rng', axis=1)

In [8]:
batting.dtypes[batting.dtypes == "object"] #confirms removal

Name    object
dtype: object

In [9]:
#Ridge regression
#Feature Selection
#Time series
#Minmax scaling
#Not Sure on order